    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}} | mHack MDM</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="{{ url_for('static', filename='img/mlogo.png') }}" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/iconkit.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.min.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}">        
    <style>
     #buildversion {
        position: fixed;
        bottom: 0;
        right: 0;
      }
    </style>