<!doctype html>
<html class="no-js" lang="en">
    
    <head>
    {% set title = 'Contact' %}
    {% include 'b_head.html' %}
    </head>

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="auth-wrapper">
            <div class="container-fluid h-100">
                <div class="row flex-row h-100 bg-white">
                    <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
                        <div class="lavalite-bg" style="background-image: url('{{ url_for('static', filename='img/login-bg.jpg') }}')">
                            <div class="lavalite-overlay"></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
                        <div class="authentication-form mx-auto">
                            <div class="logo-centered">
                                <a href="/select"><img src="{{ url_for('static', filename='src/img/mlogo.png') }}" alt=""></a>
                            </div>
                            <h3>mHack MDM Administration</h3>
                            
                            {% if sent %}
                            <p>Your message has been sent</p>
                            {% else %}
                            <p>Contact the administrators</p>
                            {% endif %}
                            <form action="/{{page}}" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" required="" value="" placeholder="Name">
                                    <i class="ik ik-user"></i>
                                </div>
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" id="comment" name="comment" rows="6"></textarea>
                                </div>
                                <div class="sign-btn text-center">
                                    <button class="btn btn-theme">Send message</button>
                                </div>
                            </form>
                            <div class="register">
                                <p><a href="/xssadmin"><i class="ik ik-arrow-left"></i> Go back</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    {% include 'b_loginfooter.html' %}
    </body>
</html>
