<!DOCTYPE html>
	<head>
	<title>{{page}}</title>
	<style>body {font-family: Arial; font-size: 14px; }</style>
	</head>
	<body bgcolor="#CBCBCB">
	    <a href="/brokenauth1">Broken Authentication 1</a><br>
		<a href="/brokenauth2">Broken Authentication 2</a><br>
		<a href="/brokensession">Broken Session</a><br>
		<a href="/inject">Injection</a><br>
		<a href="/secmis">Security Misconfiguration</a><br>
		<a href="/brokenaccess">Broken Access Control</a><br>
		<a href="/xss">XSS</a><br> 
		<a href="/xssvictim">XSS victim</a><br>
		<br><br><br><br>
		<a href="/xssvictim/removecookie">XSS Reset cookies</a><br>
		<a href="/evillog">XSS Evil log</a><br>
		<a href="/evilimage">XSS Evil image (?get=cookie)</a><br>
	</body></html>