<!doctype html>
<html class="no-js" lang="en">
    <head>
    {% set title = 'Main Dashboard' %}
    {% include 'b_head.html' %}
    </head>

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="wrapper">
            <header class="header-top" header-theme="light">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between">
                        <div class="top-menu d-flex align-items-center">
                            <button type="button" class="btn-icon mobile-nav-toggle d-lg-none"><span></span></button>
                            <div class="header-search">
                                <div class="input-group">
                                    <span class="input-group-addon search-close"><i class="ik ik-x"></i></span>
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon search-btn"><i class="ik ik-search"></i></span>
                                </div>
                            </div>
                            <button type="button" id="navbar-fullscreen" class="nav-link"><i class="ik ik-maximize"></i></button>
                        </div>
                        <div class="top-menu d-flex align-items-center">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="notiDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ik ik-bell"></i><span class="badge bg-danger">3</span></a>
                                <div class="dropdown-menu dropdown-menu-right notification-dropdown" aria-labelledby="notiDropdown">
                                    <h4 class="header">Notifications</h4>
                                    <div class="notifications-wrap">
                                        <a href="#" class="media">
                                            <span class="d-flex">
                                                <i class="ik ik-check"></i> 
                                            </span>
                                            <span class="media-body">
                                                <span class="heading-font-family media-heading">Invitation accepted</span> 
                                                <span class="media-content">Your have been Invited ...</span>
                                            </span>
                                        </a>
                                        <a href="#" class="media">
                                            <span class="d-flex">
                                                <img src="{{ url_for('static', filename='img/users/1.jpg') }}" class="rounded-circle" alt="">
                                            </span>
                                            <span class="media-body">
                                                <span class="heading-font-family media-heading">Steve Satou</span> 
                                                <span class="media-content"> closed ticket #DIS-15518</span>
                                            </span>
                                        </a>
                                        <a href="#" class="media">
                                            <span class="d-flex">
                                                <i class="ik ik-calendar"></i> 
                                            </span>
                                            <span class="media-body">
                                                <span class="heading-font-family media-heading">Ticket</span> 
                                                <span class="media-content">#DIS-15607 Pending: Waiting for user ...</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="footer"><a href="javascript:void(0);">See all activity</a></div>
                                </div>
                            </div>
                            <button type="button" class="nav-link ml-10 right-sidebar-toggle"><i class="ik ik-message-square"></i></button>
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ik ik-plus"></i></a>
                                <div class="dropdown-menu dropdown-menu-right menu-grid" aria-labelledby="menuDropdown">
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Dashboard"><i class="ik ik-bar-chart-2"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Message"><i class="ik ik-mail"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Accounts"><i class="ik ik-users"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Sales"><i class="ik ik-shopping-cart"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Purchase"><i class="ik ik-briefcase"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Pages"><i class="ik ik-clipboard"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Chats"><i class="ik ik-message-square"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Contacts"><i class="ik ik-map-pin"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Blocks"><i class="ik ik-inbox"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Events"><i class="ik ik-calendar"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="Notifications"><i class="ik ik-bell"></i></a>
                                    <a class="dropdown-item" href="#" data-toggle="tooltip" data-placement="top" title="More"><i class="ik ik-more-horizontal"></i></a>
                                </div>
                            </div>
                            <button type="button" class="nav-link ml-10" id="apps_modal_btn" data-toggle="modal" data-target="#appsModal"><i class="ik ik-grid"></i></button>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="avatar" src="{%if admin %}{{ url_for('static', filename='img/user.jpg') }}{%else%}{{ url_for('static', filename='img/user1.jpg') }}{%endif%}" alt=""></a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#"><i class="ik ik-user dropdown-icon"></i> Profile</a>
                                    <a class="dropdown-item" href="#"><i class="ik ik-settings dropdown-icon"></i> Settings</a>
                                    <a class="dropdown-item" href="#"><span class="float-right"><span class="badge badge-primary">6</span></span><i class="ik ik-mail dropdown-icon"></i> Inbox</a>
                                    <a class="dropdown-item" href="#"><i class="ik ik-navigation dropdown-icon"></i> Message</a>
                                    <a class="dropdown-item" href="/logout/{{page}}"><i class="ik ik-power dropdown-icon"></i> Logout</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </header>

            <div class="page-wrap">
                <div class="app-sidebar colored">
                    <div class="sidebar-header">
                        <a class="header-brand" href="/select">
                            <div class="logo-img">
                               <img src="{{ url_for('static', filename='img/mlogo.png') }}" class="header-brand-img" alt="mHack"> 
                            </div>
                            <span class="text"></span>
                        </a>
                        <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
                        <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
                    </div>
                    
                    <div class="sidebar-content">
                        <div class="nav-container">
                            <nav id="main-menu-navigation" class="navigation-main">
                                <div class="nav-lavel">Dashboards</div>
                                <div class="nav-item active">
                                    <a href="#"><i class="ik ik-bar-chart-2"></i><span>Main Dashboard</span></a>
                                </div>
                                <div class="nav-item has-sub">
                                    <a href="javascript:void(0)"><i class="ik ik-layers"></i><span>Configure Dashboards</span> </a>
                                    <div class="submenu-content">
                                        <a href="#" class="menu-item">Add new dashboard</a>
                                        <a href="#" class="menu-item">Configure widgets</a>
                                        <a href="#" class="menu-item">Configure dashboards</a>
                                    </div>
                                </div>
                                {%if admin%}
                                <div class="nav-lavel">Device Management</div>
                                <div class="nav-item">
                                    <a href="#"><i class="ik ik-smartphone"></i><span>Device Overview</span></a>
                                </div>								
                                <div class="nav-item has-sub">
                                    <a href="#"><i class="ik ik-refresh-cw"></i><span>Edit Devices</span></a>
                                    <div class="submenu-content">
                                        <a href="#" class="menu-item">Provision device</a>
                                        <a href="#" class="menu-item">Remove device</a>
                                        <a href="#" class="menu-item">Change device</a>
                                    </div>
                                </div>
                                <div class="nav-item has-sub">
                                    <a href="#"><i class="ik ik-lock"></i><span>Security</span> </a>
                                    <div class="submenu-content">
                                        <a href="#" class="menu-item">Account security</a>
                                        <a href="#" class="menu-item">Backend security</a>
                                        <a href="#" class="menu-item">Device security</a>
                                    </div>
                                </div>
                                <div class="nav-item has-sub">
                                    <a href="#"><i class="ik ik-package"></i><span>Deliveries</span></a>
                                    <div class="submenu-content">
                                        <a href="#" class="menu-item">Book pickup</a>
										<a href="#" class="menu-item">Delivery overview</a>
                                    </div>
                                </div>
                                <div class="nav-item has-sub">
                                    <a href="#"><i class="ik ik-book"></i><span>Policies</span></a>
                                    <div class="submenu-content">
                                        <a href="#" class="menu-item">Add policy</a>
										<a href="#" class="menu-item">Change policy</a>
                                    </div>
                                </div>										
								
                                <div class="nav-lavel">User Management</div>
                                <div class="nav-item">
                                    <a href="#"><i class="ik ik-users"></i><span>User Overview</span></a>
                                </div>								
                                <div class="nav-item has-sub">
                                    <a href="#"><i class="ik ik-refresh-cw"></i><span>Edit Users</span></a>
                                    <div class="submenu-content">
                                        <a href="#" class="menu-item">Provision user</a>
                                        <a href="#" class="menu-item">Remove user</a>
                                        <a href="#" class="menu-item">Change user</a>
                                    </div>
                                </div>
                                <div class="nav-item has-sub">
                                    <a href="#"><i class="ik ik-lock"></i><span>Security</span> </a>
                                    <div class="submenu-content">
                                        <a href="#" class="menu-item">Account security</a>
                                        <a href="#" class="menu-item">Group security</a>
                                        <a href="#" class="menu-item">Device policy</a>
                                    </div>
                                </div>
                                <div class="nav-item has-sub">
                                    <a href="#"><i class="ik ik-book"></i><span>Policies</span></a>
                                    <div class="submenu-content">
                                        <a href="#" class="menu-item">Add policy</a>
										<a href="#" class="menu-item">Change policy</a>
                                    </div>
                                </div>								

                                <div class="nav-lavel">System Configuration</div>
                                <div class="nav-item">
                                    <a href="#"><i class="ik ik-settings"></i><span>Properties</span></a>
                                </div>										
                                <div class="nav-item">
                                    <a href="#"><i class="ik ik-server"></i><span>Servers</span></a>
                                </div>		
								
                                <div class="nav-item">
                                    <a href="#"><i class="ik ik-hash"></i><span>Scripting</span></a>
                                </div>										
    
                                <div class="nav-lavel">Support</div>
                                <div class="nav-item">
                                    <a href="javascript:void(0)"><i class="ik ik-monitor"></i><span>Documentation</span></a>
                                </div>
                                <div class="nav-item">
                                    <a href="javascript:void(0)"><i class="ik ik-help-circle"></i><span>Submit Issue</span></a>
                                </div>
                                {%endif%}
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="main-content">
                    <div class="container-fluid">
                        {%if admin %}
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>Registered Devices</h6>
                                                <h2>932</h2>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-award"></i>
                                            </div>
                                        </div>
                                        <small class="text-small mt-10 d-block">781 user accounts</small>
                                    </div>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100" style="width: 93%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>Used bandwidth</h6>
                                                <h2>410 GB</h2>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-activity"></i>
                                            </div>
                                        </div>
                                        <small class="text-small mt-10 d-block">21% lower than last month</small>
                                    </div>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="100" style="width: 41%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>Todays Events</h6>
                                                <h2>187</h2>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-alert-circle"></i>
                                            </div>
                                        </div>
                                        <small class="text-small mt-10 d-block">2 warnings</small>
                                    </div>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="19" aria-valuemin="0" aria-valuemax="100" style="width: 19%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>API Calls</h6>
                                                <h2>527,599</h2>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-message-square"></i>
                                            </div>
                                        </div>
                                        <small class="text-small mt-10 d-block">12% lower than last month</small>
                                    </div>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="53" aria-valuemin="0" aria-valuemax="100" style="width: 53%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
  <div class="card table-card">
                                    <div class="card-header">
                                        <h3>Open tickets</h3>
                                        <div class="card-header-right">
                                            <ul class="list-unstyled card-option">
                                                <li><i class="ik ik-chevron-left action-toggle"></i></li>
                                                <li><i class="ik ik-minus minimize-card"></i></li>
                                                <li><i class="ik ik-x close-card"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-block pb-0">
                                        <div class="table-responsive">
                                            <table class="table table-hover mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Ticket No</th>
                                                        <th>Device</th>
														<th>Status</th>
                                                        <th>Type</th>
                                                        <th>User</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <td>#DIS-15654</td>
                                                        <td>IPHONE 8 / 64 GB / SPACE GREY</td>
                                                        <td><label class="badge badge-success">Ongoing</label></td>
														<td><a href="#">New Device</a></td>
                                                        <td><a href="#">Lily Glover</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>#DIS-15650</td>
                                                        <td>IPHONE 8 / 64 GB / SPACE GREY</td>
                                                        <td><label class="badge badge-success">Ongoing</label></td>
                                                        
                                                        <td><a href="#">New Device</a></td>
														<td><a href="#">Anthony Peake</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>#DIS-15643</td>
                                                        <td>MAGIC TRACKPAD 2</td>
                                                        <td><label class="badge badge-danger">Out of Stock</label></td>
                                                        
                                                        <td><a href="#"></a>Hardware Accessory</td>
														<td><a href="#">Patrick Revan</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>#DIS-15613</td>
                                                        <td>MACBOOK PRO 15 TOUCH BAR MV902KS/A SILVER</td>
                                                        <td><label class="badge badge-warning">Waiting for Approval</label></td>
                                                        
                                                        <td><a href="#">New Device</a></td>
														<td><a href="#">Ruth Kerr</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>#DIS-15607</td>
                                                        <td>IPHONE 8 / 64 GB / SPACE GREY</td>
														<td><label class="badge badge-warning">Waiting for user</label></td>
                                                        <td><a href="#">New device</a></td>
														<td><a href="#">Joan Davis</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>#DIS-15603</td>
                                                        <td>MACBOOK PRO 15 TOUCH BAR MV902KS/A SILVER</td>
														<td><label class="badge badge-success">Ongoing</label></td>
                                                        <td><a href="#">Device failure</a></td>
                                                        <td><a href="#">Ayah Moss</a></td>
                                                    </tr>													
                                                    <tr>
                                                        <td>#DIS-15602</td>
                                                        <td>IPHONE 8 / 64 GB / SPACE GREY</td>
                                                        <td><label class="badge badge-warning">Waiting for Approval</label></td>
														<td><a href="#">New Device</a></td>
                                                        <td><a href="#">Kasper Lane</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>#DIS-15572</td>
                                                        <td>MAGIC MOUSE 2</td>
                                                        <td><label class="badge badge-success">Ongoing</label></td>
														<td><a href="#"></a>Hardware Accessory</td>
                                                        <td><a href="#">Quinn Hussain</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>#DIS-15554</td>
                                                        <td>KENSINGTON MP15 MAGNETIC PRIVACY SCREEN</td>
                                                        <td><label class="badge badge-danger">Out of Stock</label></td>
														<td><a href="#"></a>Hardware Accessory</td>
                                                        <td><a href="#">Ellis Chambers</a></td>
                                                    </tr>													
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>     
                 
                            </div>
                            <div class="col-md-4">
         <div class="card">
                                    <div class="card-header">
                                        <h3>Configuration Overview</h3>
                                        <div class="card-header-right">
                                            <ul class="list-unstyled card-option">
                                                <li><i class="ik ik-chevron-left action-toggle"></i></li>
                                                <li><i class="ik ik-minus minimize-card"></i></li>
                                                <li><i class="ik ik-x close-card"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-body feeds-widget">
                                        <div class="feed-item">
                                            <a href="#">
                                                <div class="feeds-left"><i class="ik ik-users text-primary"></i></div>
                                                <div class="feeds-body">
                                                    <h4 class="title text-primary">Open registration <small class="float-right text-muted">
													 <button type="button" class="btn btn-icon btn-warning"><i class="ik ik-x"></i></button>
													</small></h4>
                                                    <small style="font-size:12px;">Enables self-registration for users</small>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="feed-item">
                                            <a href="#">
                                                <div class="feeds-left"><i class="ik ik-lock text-primary"></i></div>
                                                <div class="feeds-body">
                                                    <h4 class="title text-primary">Enforce 2FA<small class="float-right text-muted">
													<button type="button" class="btn btn-icon btn-warning"><i class="ik ik-x"></i></button>
													</small></h4>
                                                    <small style="font-size:12px;">Requires users to login with two factors</small>
                                                </div>
                                            </a>
                                        </div>	
                                        <div class="feed-item">
                                            <a href="#">
                                                <div class="feeds-left"><i class="ik ik-clipboard text-primary"></i></div>
                                                <div class="feeds-body">
                                                    <h4 class="title text-primary">Open ticket system <small class="float-right text-muted">
													<button type="button" class="btn btn-icon btn-success"><i class="ik ik-check"></i></button>
													</small></h4>
                                                    <small style="font-size:12px;">Enables users to submit tickets</small>
                                                </div>
                                            </a>
                                        </div>											
                                        <div class="feed-item">
                                            <a href="#">
                                                <div class="feeds-left"><i class="ik ik-message-circle text-primary"></i></div>
                                                <div class="feeds-body">
                                                    <h4 class="title text-primary">Public contact form<small class="float-right text-muted">
														 <button type="button" class="btn btn-icon btn-success"><i class="ik ik-check"></i></button>
													</small></h4>
                                                   <small style="font-size:12px;">Enables contact form for guests</small>
                                                </div>
                                            </a>
                                        </div>											

                                        <div class="feed-item">
                                            <a href="#">
                                                <div class="feeds-left"><i class="ik ik-credit-card text-primary"></i></div>
                                                <div class="feeds-body">
                                                    <h4 class="title text-primary">User Refill <small class="float-right text-muted">
													<button type="button" class="btn btn-icon btn-warning"><i class="ik ik-x"></i></button>
													</small></h4>
                                                   <small style="font-size:12px;">Enables users to add bandwidth credit</small>
                                                </div>
                                            </a>
                                        </div>	
                                        <div class="feed-item">
                                            <a href="#">
                                                <div class="feeds-left"><i class="ik ik-tablet text-primary"></i></div>
                                                <div class="feeds-body">
                                                    <h4 class="title text-primary">BYOD support<small class="float-right text-muted">
													<button type="button" class="btn btn-icon btn-warning"><i class="ik ik-x"></i></button>
													</small></h4>
                                                    <small style="font-size:12px;">Enables users to add personal devices</small>
                                                </div>
                                            </a>
                                        </div>											
                                   
                                    </div>
                                </div>
                            </div>
                        </div>
						<div class="row">
                            <div class="col-md-12">

 <div class="card">
                                    <div class="card-header d-block">
                                        <h3>Messages from public contact form</h3>
                                        <span>These messages are from <code>non-authenticated</code> users.</span> <a href="/xssadmin/removefeedback">Click here</a> to delete all messages.
                                    </div>
                                    <div class="card-body p-0 table-border-style">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th width="80%">Message</th>
                                                      
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if comments %}
                                                    {% for comment in comments %}
                                                    <tr>
                                                        <th scope="row">{{comment[1]|safe}}</th>
                                                        <td>{{comment[0]|safe}}</td>

                                                    </tr>
                                                    {%endfor%}
                                                    {%endif%}
                                                    {% if page != "xssadmin" and not comments %}
                                                    <tr>
                                                        <th scope="row">Sandeep</th>
                                                        <td>Do you think you're living an ordinary life? You are so mistaken it's difficult to even explain. The mere fact that you exist makes you extraordinary. The odds of you existing are less than winning the lottery, but here you are. Are you going to let this extraordinary opportunity pass?</td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Jacob</th>
                                                        <td>Indescribable oppression, which seemed to generate in some unfamiliar part of her consciousness, filled her whole being with a vague anguish. It was like a shadow, like a mist passing across her soul's summer day. It was strange and unfamiliar; it was a mood. She did not sit there inwardly upbraiding her husband, lamenting at Fate, which had directed her footsteps to the path which they had taken. She was just having a good cry all to herself. The mosquitoes made merry over her, biting her firm, round arms and nipping at her bare insteps.</td>

                                                    </tr>
                                                    <tr>
                                                        <th scope="row">Marc</th>
                                                        <td> I'm heading back to Colorado tomorrow after being down in Santa Barbara over the weekend for the festival there. I will be making October plans once there and will try to arrange so I'm back here for the birthday if possible. I'll let you know as soon as I know the doctor's appointment schedule and my flight plans.

</td>

                                                    </tr>                                                    
                                                    {%endif%}                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

            
                        
                    </div>
                </div>
                {%else%}
                 <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="profile-pic mb-20">
                                            <img src="{{ url_for('static', filename='img/user1.jpg') }}" width="150" class="rounded-circle" alt="user">
                                            <h4 class="mt-20 mb-0">Elliot Fisher</h4>
                                            <a href="#" >elfish2000@hotmail.com</a>
                                        </div>
                                        <div class="badge badge-pill badge-dark">Phone-User</div>
                                        <div class="badge badge-pill badge-dark">Managed-Account</div>
                                        <div class="badge badge-pill badge-info" data-toggle="tooltip" data-placement="top" title="3 more">+3</div>
                                    </div>
                                    <div class="p-4 border-top mt-15">
                                        <div class="row text-center">
                                            <div class="col-6 border-right">
                                                <a href="#" class="link d-flex align-items-center justify-content-center"><i class="ik ik-clipboard f-20 mr-5"></i>Add ticket</a>
                                            </div>
                                            <div class="col-6">
                                                <a href="#" class="link d-flex align-items-center justify-content-center"><i class="ik ik-user f-20 mr-5"></i>Change Profile</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <h4 class="card-title">IPHONE 8 / 64 GB / SPACE GREY</h4>
                                        </div>
                                        <div class="d-flex align-items-center flex-row mt-10">
                                            <div class="p-2 f-50 text-info"><i class="wi wi-day-showers"></i> <span>2GB</span></div>
                                            <div class="p-2">
                                            <h3 class="mb-0">Premium package</h3><small>Calls & texts included</small></div>
                                        </div>
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td>Type</td>
                                                    <td class="font-medium">PHONE WITH SUBSCRIPTION</td>
                                                </tr>
                                                <tr>
                                                    <td>Registered</td>
                                                    <td class="font-medium">20190613</td>
                                                </tr>
                                                <tr>
                                                    <td>End of contract</td>
                                                    <td class="font-medium">20200913</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <hr>
                                        <ul class="list-unstyled row text-center city-weather-days mb-0">
                                            <li class="col"><i class="wi wi-day-sunny mr-5"></i><span>Data</span><h3>2GB</h3></li>
                                            <li class="col"><i class="wi wi-day-cloudy mr-5"></i><span>Calls</span><h3>Unlimited</h3></li>
                                            <li class="col"><i class="wi wi-day-hail mr-5"></i><span>Texts</span><h3>Unlimited</h3></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {%endif%}
                <aside class="right-sidebar">
                    <div class="sidebar-chat" data-plugin="chat-sidebar">
                        <div class="sidebar-chat-info">
                            <h6>Chat List</h6>
                            <form class="mr-t-10">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search for friends ..."> 
                                    <i class="ik ik-search"></i>
                                </div>
                            </form>
                        </div>
                        <div class="chat-list">
                            <div class="list-group row">
                                <a href="javascript:void(0)" class="list-group-item" data-chat-user="Billy Black">
                                    <figure class="user--online">
                                        <img src="{{ url_for('static', filename='img/users/2.jpg') }}" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Billy Black</span>  <span class="username">@billyblack</span> </span>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item" data-chat-user="Herbert Diaz">
                                    <figure class="user--online">
                                        <img src="{{ url_for('static', filename='img/users/3.jpg') }}" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Herbert Diaz</span>  <span class="username">@herbert</span> </span>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item active" data-chat-user="Marsha Hoffman">
                                    <figure class="user--busy">
                                        <img src="{{ url_for('static', filename='img/users/5.jpg') }}" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Marsha Hoffman</span>  <span class="username">@m_hoffman</span> </span>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item" data-chat-user="Mason Grant">
                                    <figure class="user--offline">
                                        <img src="{{ url_for('static', filename='img/users/1.jpg') }}" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Mason Grant</span>  <span class="username">@masongrant</span> </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </aside>

                <div class="chat-panel" hidden>
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <a href="javascript:void(0);"><i class="ik ik-message-square text-success"></i></a>  
                            <span class="user-name">John Doe</span> 
                            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="card-body">
                            <div class="widget-chat-activity flex-1">
                                <div class="messages">
                                    <div class="message media reply">
                                        <figure class="user--online">
                                            <a href="#">
                                                <img src="{{ url_for('static', filename='img/users/3.jpg') }}" class="rounded-circle" alt="">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>Epic Cheeseburgers come in all kind of styles.</p>
                                        </div>
                                    </div>
                                    <div class="message media">
                                        <figure class="user--online">
                                            <a href="#">
                                                <img src="{{ url_for('static', filename='img/users/1.jpg') }}" class="rounded-circle" alt="">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>Cheeseburgers make your knees weak.</p>
                                        </div>
                                    </div>
                                    <div class="message media reply">
                                        <figure class="user--offline">
                                            <a href="#">
                                                <img src="{{ url_for('static', filename='img/users/5.jpg') }}" class="rounded-circle" alt="">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>Cheeseburgers will never let you down.</p>
                                            <p>They'll also never run around or desert you.</p>
                                        </div>
                                    </div>
                                    <div class="message media">
                                        <figure class="user--online">
                                            <a href="#">
                                                <img src="{{ url_for('static', filename='img/users/1.jpg') }}" class="rounded-circle" alt="">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>A great cheeseburger is a gastronomical event.</p>
                                        </div>
                                    </div>
                                    <div class="message media reply">
                                        <figure class="user--busy">
                                            <a href="#">
                                                <img src="{{ url_for('static', filename='img/users/5.jpg') }}" class="rounded-circle" alt="">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>There's a cheesy incarnation waiting for you no matter what you palete preferences are.</p>
                                        </div>
                                    </div>
                                    <div class="message media">
                                        <figure class="user--online">
                                            <a href="#">
                                                <img src="{{ url_for('static', filename='img/users/1.jpg') }}" class="rounded-circle" alt="">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>If you are a vegan, we are sorry for you loss.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="javascript:void(0)" class="card-footer" method="post">
                            <div class="d-flex justify-content-end">
                                <textarea class="border-0 flex-1" rows="1" placeholder="Type your message here"></textarea>
                                <button class="btn btn-icon" type="submit"><i class="ik ik-arrow-right text-success"></i></button>
                            </div>
                        </form>
                    </div>
                </div>

                <footer class="footer">
                    <div class="w-100 clearfix">
                        <span class="text-center text-sm-left d-md-inline-block">mHack Mobile Device Management</span>
                        <span class="float-none float-sm-right mt-1 mt-sm-0 text-center">FMDM 10.3 b2310</span>
                    </div>
                </footer>
                
            </div>
        </div>
        
        
        

        <div class="modal fade apps-modal" id="appsModal" tabindex="-1" role="dialog" aria-labelledby="appsModalLabel" aria-hidden="true" data-backdrop="false">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ik ik-x-circle"></i></button>
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="quick-search">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-auto">
                                    <div class="input-wrap">
                                        <input type="text" id="quick-search" class="form-control" placeholder="Search..." />
                                        <i class="ik ik-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="container">
                            <div class="apps-wrap">
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
                                </div>
                                <div class="app-item dropdown">
                                    <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ik ik-command"></i><span>Ui</span></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-mail"></i><span>Message</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-users"></i><span>Accounts</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-shopping-cart"></i><span>Sales</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-briefcase"></i><span>Purchase</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-server"></i><span>Menus</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-clipboard"></i><span>Pages</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-message-square"></i><span>Chats</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-map-pin"></i><span>Contacts</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-box"></i><span>Blocks</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-calendar"></i><span>Events</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-bell"></i><span>Notifications</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-pie-chart"></i><span>Reports</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-layers"></i><span>Tasks</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-edit"></i><span>Blogs</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-settings"></i><span>Settings</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-more-horizontal"></i><span>More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script> 
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"><\/script>')</script>
        <script src="{{ url_for('static', filename='plugins/popper.js/dist/umd/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/bootstrap/dist/js/bootstrap.min.j') }}s"></script>
        <script src="{{ url_for('static', filename='js/theme.js') }}"></script>

    </body>
</html>
