<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Login | First Filing MDM</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="{{ url_for('static', filename='src/img/frigg-dummy.png') }}" type="image/x-icon" />

        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/ionicons/dist/css/ionicons.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/icon-kit/dist/css/iconkit.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/perfect-scrollbar/css/perfect-scrollbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/theme.min.css') }}">        
		<style>
		 #buildversion {
			position: fixed;
			bottom: 0;
			right: 0;
		  }
		</style>   
		{% if sqlline %}
		<script>
		    function changeTextUsername(element) {
              document.getElementById('sqldisplay').innerHTML = "SELECT username FROM users WHERE username = '" + element.value + "' and password = '" + document.getElementById('password').value + "'";
            }
            function changeTextPassword(element) {
              document.getElementById('sqldisplay').innerHTML = "SELECT username FROM users WHERE username = '" + document.getElementById('username').value + "' and password = '" + element.value + "'";
            }
            
		</script>
		{% endif %}
    </head>

    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="auth-wrapper">
            <div class="container-fluid h-100">
                <div class="row flex-row h-100 bg-white">
                    <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
                        <div class="lavalite-bg" style="background-image: url('{{ url_for('static', filename='img/auth/login-bg.jpg') }}')">
                            <div class="lavalite-overlay"></div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
                        <div class="authentication-form mx-auto">
                            <div class="logo-centered">
                                <a href="/select"><img src="{{ url_for('static', filename='src/img/frigg-dummy.png') }}" alt=""></a>
                            </div>
                            <h3>First Filing MDM Administration</h3>
                            
                            {% if sqlline %}
                            <span id="sqldisplay">{{sqlline}}</span>.</h1>
                            {% elif incorrect %}
                            <p>Incorrect credentials!</p>
                            {% else %}
                            <p>Sign in with your First Filing-account</p>
                            {% endif %}
                            <form action="/{{page}}" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" {% if sqlline %} onkeyup="changeTextUsername(this)" {% endif %} id="username" placeholder="Username" required="" value="{% if sqlline %}{{username}}{% endif %}">
                                    <i class="ik ik-user"></i>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" {% if sqlline %} onkeyup="changeTextPassword(this)" {% endif %} id="password" placeholder="Password" required="" value="{% if sqlline %}{{password}}{% endif %}">
                                    <i class="ik ik-lock"></i>
                                </div>
                                <div class="row">
                                    <div class="col text-left">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="item_checkbox" name="item_checkbox" value="option1">
                                            <span class="custom-control-label">&nbsp;Remember Me</span>
                                        </label>
                                    </div>
                                    <div class="col text-right">
                                        <a href="/forgotpassword">Forgot Password ?</a>
                                    </div>
                                </div>
                                <div class="sign-btn text-center">
                                    <button class="btn btn-theme">Sign In</button>
                                </div>
                            </form>
                            <div class="register">
                                <p><a href="/xsscontact">Contact the administrators </a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='src/js/vendor/jquery-3.3.1.min.js') }}"><\/script>')</script>
        <script src="{{ url_for('static', filename='plugins/popper.js/dist/umd/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/screenfull/dist/screenfull.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/js/theme.js') }}"></script> 
	<div id="buildversion">
	<a href="/select">Build 20541.{% if page %}{{page}}{% else %}root{% endif %} &nbsp;</a>
	</div>	        
    </body>
</html>
